/* line 10, ../scss/application.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 960px;
}

/* line 16, ../scss/application.scss */
a {
  text-decoration: none;
}

/* line 20, ../scss/application.scss */
.h5peditor {
  font-size: 16px;
}
/* line 23, ../scss/application.scss */
.h5peditor .h5p-more-libraries {
  font-size: 0.875em;
}
/* line 27, ../scss/application.scss */
.h5peditor .field {
  margin: 16px 0;
  font-size: 16px;
  padding: 0;
}
/* line 31, ../scss/application.scss */
.h5peditor .field:first-child {
  margin-top: 0;
}
/* line 34, ../scss/application.scss */
.h5peditor .field:last-child {
  margin-bottom: 0;
}
/* line 38, ../scss/application.scss */
.h5peditor .field.boolean .h5peditor-label {
  display: inline;
}
/* line 41, ../scss/application.scss */
.h5peditor .field.video, .h5peditor .field.image, .h5peditor .field.file, .h5peditor .field.audio {
  position: relative;
}
/* line 45, ../scss/application.scss */
.h5peditor .field .library {
  border: 1px solid #666;
  padding: 8px;
}
/* line 51, ../scss/application.scss */
.h5peditor .errors p {
  margin: 0 0 4px 0;
  color: #f00;
}
/* line 55, ../scss/application.scss */
.h5peditor textarea {
  resize: vertical;
}
/* line 58, ../scss/application.scss */
.h5peditor textarea, .h5peditor .h5peditor-text, .h5peditor .ckeditor {
  width: 90%;
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #a0a0a0;
  background: #f9f9f9;
  outline: none;
  min-height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 68, ../scss/application.scss */
.h5peditor select {
  padding: 2px;
}
/* line 71, ../scss/application.scss */
.h5peditor a:focus {
  outline: none;
}
/* line 75, ../scss/application.scss */
.h5peditor textarea:focus,
.h5peditor .h5peditor-text:focus {
  outline: none;
  background-color: #fff;
  border-color: #53a0ff;
}
/* line 80, ../scss/application.scss */
.h5peditor iframe {
  width: 100%;
  height: 0;
  border: 0;
  overflow: hidden;
}
/* line 85, ../scss/application.scss */
.h5peditor iframe.cke_wysiwyg_frame {
  overflow: auto;
}
/* line 89, ../scss/application.scss */
.h5peditor .h5p-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 94, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li {
  padding: 0 8px;
  margin: 8px 0;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
}
/* line 101, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li > .content {
  margin: 0 24px;
}
/* line 104, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li > .remove, .h5peditor .h5p-ul .h5p-li > .order {
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin: 10px 4px 0 0;
  float: right;
  font-size: 1.75em;
  line-height: 1em;
  text-indent: -0.35em;
}
/* line 114, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li > .remove:hover, .h5peditor .h5p-ul .h5p-li > .order:hover {
  opacity: 1;
  text-decoration: none;
}
/* line 120, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li > .remove:after {
  font-family: "H5P";
  content: "\e890";
  color: #666;
}
/* line 126, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li > .remove:hover:after {
  color: #c33f62;
}
/* line 130, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li > .order {
  float: left;
}
/* line 133, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li > .order:after {
  font-family: "H5P";
  content: "\e88d";
  color: #666;
}
/* line 140, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li > .order:hover:after {
  color: #027AC6;
}
/* line 144, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li:hover {
  text-decoration: none;
}
/* line 149, ../scss/application.scss */
.h5peditor .content > .field {
  margin: 8px 0 20px 0;
}
/* line 152, ../scss/application.scss */
.h5peditor .group {
  margin: 16px 0;
  border: 1px solid #676767;
  background: #d5e9ff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 4px #a7a7a7;
  -moz-box-shadow: 0 0 4px #a7a7a7;
  box-shadow: 0 0 4px #a7a7a7;
}
/* line 160, ../scss/application.scss */
.h5peditor .group > .title {
  padding: 4px 8px;
  overflow: hidden;
  background: #f4f4f4;
}
/* line 165, ../scss/application.scss */
.h5peditor .group > .title:first-letter {
  text-transform: uppercase;
}
/* line 168, ../scss/application.scss */
.h5peditor .group > .title .expand {
  cursor: pointer;
  float: left;
  width: 13px;
  height: 13px;
  margin: 4px 0 0;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QIGDAQOtxG4igAAAFZJREFUKM+d0kEOADEEBdBfhy1H0rmsWY8WNRKbnzwRMcwM3SIfiMhsIwCrghTkKaRkYAipWP8I6eJYG7xBrKpPB22gQkeQoRAAAMzs08w8feZ7/Pm9F6gcQ10PZX8SAAAAAElFTkSuQmCC') no-repeat;
  opacity: 0.8;
}
/* line 177, ../scss/application.scss */
.h5peditor .group > .title .expand:hover {
  opacity: 1;
}
/* line 181, ../scss/application.scss */
.h5peditor .group > .title .text {
  overflow: hidden;
  padding: 0 8px;
}
/* line 186, ../scss/application.scss */
.h5peditor .group > .content {
  display: none;
}
/* line 189, ../scss/application.scss */
.h5peditor .group .h5p-li {
  background: #fff;
}
/* line 191, ../scss/application.scss */
.h5peditor .group .h5p-li:hover {
  background: #fff;
}
/* line 194, ../scss/application.scss */
.h5peditor .group .h5p-li .group {
  background: #fff;
}
/* line 196, ../scss/application.scss */
.h5peditor .group .h5p-li .group .h5p-li {
  background: #fff;
}
/* line 198, ../scss/application.scss */
.h5peditor .group .h5p-li .group .h5p-li:hover {
  background: #fff;
}
/* line 201, ../scss/application.scss */
.h5peditor .group .h5p-li .group .h5p-li .group {
  background: #feedff;
}
/* line 205, ../scss/application.scss */
.h5peditor .group .h5p-li .group .group {
  background: #feedff;
}
/* line 210, ../scss/application.scss */
.h5peditor .group .group {
  background: #ebfffa;
}
/* line 215, ../scss/application.scss */
.h5peditor .expanded > .title {
  border-bottom: 1px solid #676767;
}
/* line 218, ../scss/application.scss */
.h5peditor .expanded > .title .expand {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QIGDAIpREGqZwAAAFhJREFUKM/N0tEKgDAIheF/o2edPtJpL2t3wdpGq4tI8Eo/UDFFBE8j8yK+QxuAuxdgX+g3STUDSKqArYBmvBt4gm6nCWzA8BAX2AEAImKYZlZmtfTvjzgAmV5G0p8UwOwAAAAASUVORK5CYII=');
}
/* line 222, ../scss/application.scss */
.h5peditor .expanded > .content {
  padding: 4px 8px;
  display: block;
  background: #fff;
  margin: 0;
}
/* line 229, ../scss/application.scss */
.h5peditor input[type="button"] {
  width: auto;
  margin: 0;
  padding: 4px 8px;
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 0.875em;
  color: #333;
  cursor: pointer;
}
/* line 240, ../scss/application.scss */
.h5peditor input[type="button"]:before {
  font-family: "H5P";
  content: "\e88f";
  color: #666;
  padding-right: 0.25em;
  vertical-align: middle;
  font-size: 1.5em;
  vertical-align: middle;
  padding-left: 0.25em;
}
/* line 250, ../scss/application.scss */
.h5peditor input[type="button"]:hover {
  text-decoration: none;
  border-color: #999;
}
/* line 255, ../scss/application.scss */
.h5peditor .dimensions input, .h5peditor .coordinates input, .h5peditor .number input {
  width: 75px;
}
/* line 258, ../scss/application.scss */
.h5peditor .number input[type="range"] {
  width: 300px;
  float: left;
  margin: 7px 8px 0 0;
}
/* line 263, ../scss/application.scss */
.h5peditor .h5p-errors {
  clear: both;
}
/* line 266, ../scss/application.scss */
.h5peditor .file {
  position: relative;
  float: left;
}
/* line 270, ../scss/application.scss */
.h5peditor .file .thumbnail {
  display: inline-block;
  margin: 10px 10px 10px 0;
  -webkit-box-shadow: 0 0 10px 0 #666666;
  -moz-box-shadow: 0 0 10px 0 #666666;
  box-shadow: 0 0 10px 0 #666666;
  border: 1px solid #fff;
  cursor: pointer;
}
/* line 277, ../scss/application.scss */
.h5peditor .file .add {
  display: block;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAABmJLR0QAlwDgAKoFhNopAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QINDxEPIuRXUAAACPdJREFUWMPVmb9uHEcSxr/qnn/kiksrGGADBoQFOJnI6TmwskvOIfcFzrcwX8DhaZXeC8hY4F6ADH0XXGQpuHuDCQXIAKETvLbkJblkT3dX1QU7s1ySK2stizCugcEuempmvqmurl91Dz15cYT/p5Z8iJsc7g8JAFR17XkiAgA8eXGkv6vgTuh4PCYAGA6HmE6n9PDhQwDA06dPUZaljsfjzv43C09+i9jxeEx1XQMA1XVtBoMB7e3t0Ww2AwB8+umniDFqXddaVZUcHBygqioc7g/fW7T5AGLtbDZLyrJMm6bJTk9Pc+994b0vTk9P86ZpsrIs09lslgCwdV1jPB5TNzp3Lvhwf0iqirquUVWVLYoiUdXMe18kSdIjonvOub5zrk9E95Ik6XnvC1XNiqJIqqr6TaLfKySGwyEBsM+fP0+yLEudc4W1tmDmwhiTMbMFAGMMM7O31jrnnMuyzD1//hwAUNc133kMd6HQxay1NknTtIgx9kRkh4juGWMKIkrbrBGY2anquTHmLE1TMLMCkKqq5H3i+b08XNe1KcvSeu9TZi6stTtE9NFkMnm2zn40Gn1ujAEzc5IksSxLrutaqqriOw+Juq4xGAyoaRqTZVkaQigA3JtMJs+++f74hrUCIEwmk2dfffXVZwBclmXNxcVFGAwGsZ20dzvpptMpJUlCzjmrqokxplDVbQAIHBA4IEpA4Lg82vDYNsYUMcZUREySJDSdTultsHkvD68S7PHjx9TmUfPDDz/YLMssM6cAMmPM1kJwBG7N+0WHMWZLRDIASZZltmka+/DhQxkOh1pVFT169Eg3IWKyKcGqqiIAZjabmRijSZIkiTGm1tpMRHIACBJWRCpW1YtITkQZM6fttWY2m3UjLMPhEJsQMdmEYL1ej16+fGnKsjTz+dwYYzIiSttskALIFh7mVujalqnq8jpjTPbmzRsqy5JfvnwpvV5PNiGi2YRgWZZlaZrmIlIYY7aJaIuZt6y1WwAKImo97BG6+JW4/G0LoJyIcmvtlrV2i4i2iqLYEpEiTdMcQL4JEc2mBAsh7IhIP8a4G2PcNcbsAuir6g6AxaSLcXG0k89LRIhdmGC7tV3eoztCCDvb29vbmxAxeRfBiKgIIRRtNshUNQOQqmoB4B6Aj1ohC2+qQolA2sZw+6jWphERAMiNMZcAgqp6VfUhBEdE7yRi8i6CWWt3ROSeiPRUdYuIMlXNmLkgoi0AfQAfAYDnCGpj+PqUA1T1ftuVq2rfGONExAPwRHQJYG6MOY8x/iIRk3UEE5ElwUTkrQS72SKHG8i4apPJ5Ot3XT8ajT631oKZuSiKuL29fYuIyTqCiUhirS2IqDeZTJ795d9/XaYrWpMFtBt5XRV7FQ6j/zwC2hBR0qWtgkCky+smk8mzw8PDPxhjXNM0TZqmfjAY0CoRr3n47OwM1lpDRImqZiKydRWb61Js+0ev1BJRKwYAdef12qsSYSXWlyYAAGbeIqLMWmuZ2bx69aojon7z/fGV4Ol0Snt7e+S9J+ecNcZYVU075F75V0G68Cq0fXj7FtqJo9U3a73Z2beKryIdIKX25QBjTEpElpltURTU7/dRVdWvK35CDN2TbkSnXkMwrfYsX+b24HRe7rxK71P8lGWpb968UeecEhGLCIssWOuF20ImrPwGBOaVIifAd/2yAIZf9q2eb+1jQOSI2ALGt6MoIkFEmIjYOacnJyd4+vTpeg/v7OygaRoRkUhEvs2ViOxx2xe6uo6/nhv0Ro6gNea60rViaq29VFXPzJymqQwGAwWgRIQnL46uBFdVhbqutSxLEZHIzM4YMx+NRp//Y8O09sd//nlNAgb+9ae/bzTcbaE/FxGX53kwxsirV6+0qiocHx/f9nBVVVLXNfd6vVAUhYsxnllrMRqNPgPQU9WtlSLmGjgmk8nXy9oXXepaSW2j0d8A/AzgVFUv3wYOZj5LksQ558J8PueqquQW6Z68ONLD/SEODg4AQJg5hhBcSxwG4Iwx5y3hMiJKrbUFgHuq2nQDvhC8kEs3woaI3gD4EcDPRHRORJfW2iWaATgRcUmSuBCCY+YIQOq61uPjY+2qtmvV2tHRkQLgBw8eRO99KIriUlXP0zSdqeprAD8S0bQ9fiSi162As+WKQ25MsKtq7QzAz8aYn4wxUxGZMvNURH4iotftM86Lorj03ocHDx5EALya0q4JfvLiSImoi2V2zkUi8lmWuRjjPE3TM2PMaZIksyRJZiIyA3DaCrnoCvjl7OcI35aabbtobZf36I40Tc8uLi4usixzROSdc7Gua66qCuPxWFdr4msefvLiSMfjsbZvxbu7u3E6nQbvvQ8hNG3cXajqpbX2kpkvAbg2LBBiXJSUHK7q4jZdqWqjqg0zXzLzpapeOucujTEuhNAAaKbTadjd3V169qbYteDo4rnLHFVVcV3X2N/fp7quzd7enpnP5zDGJKoaAAQAfpGv4zI10O185onIi0hQ1SAi/v79++Hk5ETayd45CsfHx3p8fLzZEml1LdUJbxehndfRNI1476MxJqiqN8Y0q9XatczW/jHGNCLijTEhxhizLJPd3V05OTnhbv689yL0pnAiWjJ5Op3KJ598It57LooitknedfVwW4MtMprq0r+tjSeiOJ/PxRgj3377rX7xxRcYj8c6Ho832gHaqJZY9XhZlsjzXABwkiQhhOCMMfPVIukm2VoPz9u0FfI85zzP5eOPP5Z1cfpBd35Wiei9D0TkAJyPRqPP/zv59y9tVZ0DcN77sL29zTcJdqd7a+uIKCL48ssvP2vXfmkbSkFEnKqeq+qSYLPZ7BbBNm30az/KHO4P6eDggADYoiiSxQ5AWrSL0qKloW0LGSYiD8ARkQshOO99cM5FALxKsDvdgV9HRGY+t9bOROQ1gNcAXovIa2vtjJnfSbA7E/wuIrZ4PS2K4lRVz2OM800IdqcefhsR8zz3/X6/ybLMZVnm+v1+k+e534RgdxbDv7RpWNf12s9e3fCPx2P93T57vY2IAPTx48cEAN99951+6A+L9CE/3b7tq9CHENq1/wEp6BFsFIQ8BAAAAABJRU5ErkJggg==');
}
/* line 284, ../scss/application.scss */
.h5peditor .file .remove {
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
/* line 291, ../scss/application.scss */
.h5peditor .file .remove:before {
  font-family: "H5P";
  font-size: 1.4em;
  color: #fff;
  content: "\e890";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px;
}
/* line 299, ../scss/application.scss */
.h5peditor .file .remove:hover {
  text-decoration: none;
}
/* line 302, ../scss/application.scss */
.h5peditor .file .remove:hover:before {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px;
}
/* line 307, ../scss/application.scss */
.h5peditor .file img {
  vertical-align: bottom;
}
/* line 311, ../scss/application.scss */
.h5peditor .video .file, .h5peditor .audio .file {
  overflow: visible;
}
/* line 313, ../scss/application.scss */
.h5peditor .video .file .thumbnail, .h5peditor .video .file .add, .h5peditor .audio .file .thumbnail, .h5peditor .audio .file .add {
  float: left;
}
/* line 316, ../scss/application.scss */
.h5peditor .video .file .add, .h5peditor .audio .file .add {
  margin-top: 8px;
}
/* line 319, ../scss/application.scss */
.h5peditor .video .file .thumbnail, .h5peditor .audio .file .thumbnail {
  overflow: visible;
  position: relative;
  cursor: auto;
}
/* line 324, ../scss/application.scss */
.h5peditor .video .file .remove, .h5peditor .audio .file .remove {
  top: -3px;
  right: -5px;
}
/* line 328, ../scss/application.scss */
.h5peditor .video .file .type, .h5peditor .audio .file .type {
  padding: 16px 8px 4px;
  background: #000;
  color: #fff;
  font-size: 10px;
}
/* line 334, ../scss/application.scss */
.h5peditor .video .file .h5peditor-uploading, .h5peditor .audio .file .h5peditor-uploading {
  float: left;
}
/* line 338, ../scss/application.scss */
.h5peditor .libwrap {
  margin-top: 16px;
}
/* line 341, ../scss/application.scss */
.h5peditor input[type="checkbox"] {
  margin: 4px 4px 4px 0;
  vertical-align: bottom;
}
/* line 345, ../scss/application.scss */
.h5peditor .common {
  margin-top: 1em;
  background: #fff;
  border: 1px solid #ccc;
}
/* line 350, ../scss/application.scss */
.h5peditor .common > .h5peditor-label {
  font-size: 1em;
  font-weight: normal;
  padding: 0.5em 0.75em 0.4em;
  background: #ddd;
  cursor: pointer;
}
/* line 357, ../scss/application.scss */
.h5peditor .common > .h5peditor-label > .icon {
  display: inline-block;
  width: 20px;
  height: 13px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QIGDAIpREGqZwAAAFhJREFUKM/N0tEKgDAIheF/o2edPtJpL2t3wdpGq4tI8Eo/UDFFBE8j8yK+QxuAuxdgX+g3STUDSKqArYBmvBt4gm6nCWzA8BAX2AEAImKYZlZmtfTvjzgAmV5G0p8UwOwAAAAASUVORK5CYII=') no-repeat left center;
  opacity: 0.8;
  vertical-align: top;
  margin-top: 4px;
}
/* line 366, ../scss/application.scss */
.h5peditor .common > .h5peditor-label:hover > .icon {
  opacity: 1;
}
/* line 370, ../scss/application.scss */
.h5peditor .common > .fields {
  margin: 0.3125em 0.5em 0.5em;
  padding-bottom: 0.25em;
  min-height: 2em;
}
/* line 375, ../scss/application.scss */
.h5peditor .common > .fields > .desc {
  margin: 0;
  font-size: 0.875em;
  color: #666;
}
/* line 383, ../scss/application.scss */
.h5peditor .common.collapsed > .h5peditor-label > .icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QIGDAQOtxG4igAAAFZJREFUKM+d0kEOADEEBdBfhy1H0rmsWY8WNRKbnzwRMcwM3SIfiMhsIwCrghTkKaRkYAipWP8I6eJYG7xBrKpPB22gQkeQoRAAAMzs08w8feZ7/Pm9F6gcQ10PZX8SAAAAAElFTkSuQmCC');
}
/* line 386, ../scss/application.scss */
.h5peditor .common.collapsed > .fields {
  display: none;
}
/* line 391, ../scss/application.scss */
.h5peditor .common.hidden {
  display: none;
}
/* line 395, ../scss/application.scss */
.h5peditor .moving {
  position: absolute;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transform: translateZ(0);
}
/* line 402, ../scss/application.scss */
.h5peditor .h5peditor-uploading, .h5peditor .h5peditor-loading {
  padding-top: 10px;
  padding-bottom: 6px;
  font-size: 14px;
}
/* line 407, ../scss/application.scss */
.h5peditor .h5peditor-loading {
  padding: 0.875em 0 1em 3.25em;
  font-style: italic;
}
/* line 411, ../scss/application.scss */
.h5peditor .h5p-copyright-button {
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 0.875em;
  color: #333;
  cursor: pointer;
  float: left;
  display: block;
  clear: both;
  line-height: 2em;
  padding-right: 1em;
}
/* line 424, ../scss/application.scss */
.h5peditor .h5p-copyright-button:before {
  font-family: "H5P";
  content: "\e88f";
  color: #666;
  padding-right: 0.25em;
  vertical-align: middle;
  font-size: 1.5em;
  vertical-align: middle;
  padding-left: 0.25em;
}
/* line 434, ../scss/application.scss */
.h5peditor .h5p-copyright-button:hover {
  text-decoration: none;
  border-color: #999;
}
/* line 440, ../scss/application.scss */
.h5peditor .h5p-editor-dialog {
  position: absolute;
  z-index: 1;
  width: 90%;
  background: #fff;
  padding: 10px 10px 0;
  margin: 5.5em 0 1em;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0 0 8px #666666;
  -moz-box-shadow: 0 0 8px #666666;
  box-shadow: 0 0 8px #666666;
  -webkit-transition: visibility 0s, opacity 0.2s, margin-top 0.2s;
  -webkit-transition-delay: 0.2s, 0s, 0s;
  -moz-transition: visibility 0s 0.2s, opacity 0.2s, margin-top 0.2s;
  -o-transition: visibility 0s 0.2s, opacity 0.2s, margin-top 0.2s;
  transition: visibility 0s 0.2s, opacity 0.2s, margin-top 0.2s;
}
/* line 452, ../scss/application.scss */
.h5peditor .h5p-editor-dialog.h5p-open {
  margin-top: 3.5em;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.2s, margin-top 0.2s;
  -webkit-transition-delay: 0s, 0s, 0s;
  -moz-transition: visibility 0s 0s, opacity 0.2s, margin-top 0.2s;
  -o-transition: visibility 0s 0s, opacity 0.2s, margin-top 0.2s;
  transition: visibility 0s 0s, opacity 0.2s, margin-top 0.2s;
}
/* line 459, ../scss/application.scss */
.h5peditor .h5p-editor-dialog > .field {
  margin: 0 0 10px;
  border: 0;
  box-shadow: none;
}
/* line 465, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .h5p-close {
  color: #494949;
}
/* line 468, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .h5p-close:before {
  font-size: 2em;
  right: -0.125em;
  top: 0;
  position: absolute;
  font-family: "H5P";
  content: "\e894";
  line-height: 1em;
  -webkit-transition: scale 0.2s;
  -moz-transition: scale 0.2s;
  -o-transition: scale 0.2s;
  transition: scale 0.2s;
}
/* line 479, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .h5p-close:hover:before {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* line 486, ../scss/application.scss */
.h5peditor-field-description {
  font-size: 10px;
  color: #555555;
}

/* line 491, ../scss/application.scss */
.h5peditor-form {
  position: relative;
  margin: 0.5em 0 1em;
  background: #fff;
  padding: 8px;
  border: 1px solid #ccc;
}

/* line 499, ../scss/application.scss */
.h5peditor-label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  padding-top: 4px;
}

/* line 507, ../scss/application.scss */
#h5peditor-uploader {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1px;
  border: 0;
}

/* line 515, ../scss/application.scss */
.h5p-tutorial-url {
  font-size: 0.875em;
}

/* line 519, ../scss/application.scss */
.h5p-tutorial-url:before {
  font-family: "H5P";
  content: "\e889";
  font-size: 1.5em;
  position: relative;
  top: .2em;
  left: .2em;
}
