/* line 1, ../scss/_form-field.scss */
.field {
  margin: 20px 0;
  font-size: 16px;
  padding: 0;
}
/* line 10, ../scss/_mixins.scss */
.field:first-child {
  margin-top: 0;
}
/* line 14, ../scss/_mixins.scss */
.field:last-child {
  margin-bottom: 0;
}
/* line 9, ../scss/_form-field.scss */
.tree > .field:last-child {
  margin-bottom: 20px;
}
/* line 14, ../scss/_form-field.scss */
.tree > .field.group:last-child {
  margin-bottom: 0;
}
/* line 18, ../scss/_form-field.scss */
.fields > .field.group {
  margin: 10px 0;
}
/* line 10, ../scss/_mixins.scss */
.fields > .field.group:first-child {
  margin-top: 0;
}
/* line 14, ../scss/_mixins.scss */
.fields > .field.group:last-child {
  margin-bottom: 0;
}
/* line 22, ../scss/_form-field.scss */
.field.boolean .h5peditor-label {
  display: inline;
  color: #454347;
  font-size: 16px;
  font-weight: 600;
}
/* line 29, ../scss/_form-field.scss */
.field.video, .field.image, .field.file, .field.audio {
  position: relative;
}
/* line 33, ../scss/_form-field.scss */
.field.image .file {
  display: inline-block;
  float: none;
}
/* line 38, ../scss/_form-field.scss */
.field .library {
  border: 0px solid #D0D0D1;
}
/* line 43, ../scss/_form-field.scss */
.field.group.importance-high .h5peditor-label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.05em;
}
/* line 51, ../scss/_form-field.scss */
.field.group.importance-medium .h5peditor-label {
  color: #0E1A25;
  font-size: 1.05em;
  font-weight: 600;
}
/* line 57, ../scss/_form-field.scss */
.field.group.importance-low .h5peditor-label {
  color: #0E1A25;
  font-size: 1.05em;
  font-weight: 600;
}

/* line 1, ../scss/_form-groups.scss */
.group > .title, .h5p-li > .list-item-title-bar, .common > .h5peditor-label {
  visibility: inherit;
  cursor: pointer;
}

/* line 6, ../scss/_form-groups.scss */
.group.importance-high > .title, .h5p-li > .list-item-title-bar.importance-high {
  background: #488ac9;
  border: 1px solid #3B71A5;
  height: 48px;
}

/* line 11, ../scss/_form-groups.scss */
.group.importance-high > .title, .h5p-li > .list-item-title-bar.importance-high > .h5peditor-label, .h5p-li > .list-item-title-bar.importance-high > .title {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 48px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, ../scss/_form-groups.scss */
.group > .title, .h5p-li > .list-item-title-bar {
  background: #687786;
  border: 1px solid #57636e;
  height: 38px;
}

/* line 26, ../scss/_form-groups.scss */
.group > .title, .h5p-li > .list-item-title-bar > .h5peditor-label {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 38px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 36, ../scss/_form-groups.scss */
.group.importance-low > .title, .h5p-li > .list-item-title-bar.importance-low, .common > .h5peditor-label {
  background: #e4eaf2;
  height: 38px;
  border: 1px solid #D0D0D1;
}

/* line 41, ../scss/_form-groups.scss */
.group.importance-low > .title, .h5p-li > .list-item-title-bar.importance-low > .h5peditor-label, .h5p-li > .list-item-title-bar.importance-low > .title, .common > .h5peditor-label {
  font-size: 16px;
  font-weight: 400;
  color: #0E1A25;
  line-height: 38px;
}

/* line 48, ../scss/_form-groups.scss */
.group {
  border: none;
}
/* line 51, ../scss/_form-groups.scss */
.group > .title {
  padding: 0 10px;
  outline: none;
  color: #FFFFFF;
}
/* line 60, ../scss/_form-groups.scss */
.group > .content {
  display: none;
  margin: 0;
  padding: 20px;
  border: 1px solid #D0D0D1;
  border-top: none;
  background: #FFFFFF;
}
/* line 69, ../scss/_form-groups.scss */
.group.odd .content {
  background: #FBFBFB;
}
/* line 73, ../scss/_form-groups.scss */
.group.even .content .content {
  background: #FBFBFB;
}
/* line 77, ../scss/_form-groups.scss */
.group.importance-high > .title {
  color: #FFFFFF;
}
/* line 83, ../scss/_form-groups.scss */
.group.importance-low > .title {
  color: #0E1A25;
}
/* line 88, ../scss/_form-groups.scss */
.group.importance-low > .title:before {
  color: #0E1A25;
}
/* line 92, ../scss/_form-groups.scss */
.group.importance-low > .title:focus:before {
  outline: 1px dashed #0E1A25;
}

/* line 102, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar > .h5peditor-label {
  overflow: hidden;
  margin: 0 54px 0 0;
  padding: 0 10px;
  white-space: nowrap;
  line-height: 38px;
  outline: none;
  text-overflow: ellipsis;
}
/* line 122, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar > .list-actions {
  height: 100%;
  float: right;
  position: relative;
}
/* line 128, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .remove {
  cursor: pointer;
  width: 1.25em;
  height: 38px;
  font-size: 1.75em;
  display: inline-block;
}
/* line 135, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .remove:hover {
  opacity: 1;
  text-decoration: none;
}
/* line 141, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .remove:after {
  font-family: "H5P";
  content: "\e890";
  color: #FFFFFF;
  opacity: 0.7;
  display: inline-block;
  line-height: 38px;
}
/* line 150, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .remove:hover:after {
  opacity: 1;
}
/* line 154, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .order-group {
  text-align: center;
  float: right;
}
/* line 159, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .order-up, .h5p-li > .list-item-title-bar .order-down {
  width: 19px;
  height: 19px;
  background: #57636e;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
/* line 167, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .order-up:hover, .h5p-li > .list-item-title-bar .order-down:hover {
  background: #57636e;
}
/* line 171, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .order-up:after, .h5p-li > .list-item-title-bar .order-down:after {
  font-family: "H5P";
  content: "\e58e";
  color: #FFFFFF;
  display: inline-block;
}
/* line 179, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .order-down:after {
  content: "\e58f";
}
/* line 186, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high > .title {
  border: none;
  margin: 0 74px 0 0;
}
/* line 192, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .remove {
  height: 48px;
  line-height: 48px;
  font-size: 40px;
}
/* line 197, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .remove:after {
  line-height: 48px;
}
/* line 201, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .remove:after {
  color: #FFFFFF;
  opacity: 0.7;
}
/* line 205, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .remove:hover:after {
  opacity: 1;
}
/* line 209, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .order-up, .h5p-li > .list-item-title-bar.importance-high .order-down {
  width: 24px;
  height: 24px;
  background: #3B71A5;
  font-size: 18px;
  line-height: 24px;
}
/* line 216, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .order-up:hover, .h5p-li > .list-item-title-bar.importance-high .order-down:hover {
  background: #3B71A5;
}
/* line 220, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .order-up:after, .h5p-li > .list-item-title-bar.importance-high .order-down:after {
  color: #FFFFFF;
}
/* line 229, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low > .title {
  border: none;
  margin: 0 54px 0 0;
}
/* line 234, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low > .title:before {
  color: #0E1A25;
}
/* line 237, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low > .title:focus:before {
  outline: 1px dashed #0E1A25;
}
/* line 242, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .remove {
  height: 38px;
  line-height: 38px;
  font-size: 30px;
}
/* line 247, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .remove:after {
  line-height: 38px;
}
/* line 251, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .remove:after {
  color: #0E1A25;
  opacity: 0.7;
}
/* line 255, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .remove:hover:after {
  opacity: 1;
}
/* line 259, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .order-up, .h5p-li > .list-item-title-bar.importance-low .order-down {
  width: 19px;
  height: 19px;
  background: #afbac9;
  font-size: 16px;
  line-height: 19px;
}
/* line 266, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .order-up:hover, .h5p-li > .list-item-title-bar.importance-low .order-down:hover {
  background: #DAD9DA;
}
/* line 270, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .order-up:after, .h5p-li > .list-item-title-bar.importance-low .order-down:after {
  color: #0E1A25;
}

/* line 278, ../scss/_form-groups.scss */
.group.expanded > .content,
.listgroup.expanded > .content {
  display: block;
}

/* line 283, ../scss/_form-groups.scss */
.listgroup > .list-item-title-bar > .h5peditor-label {
  cursor: pointer;
}

/* line 288, ../scss/_form-groups.scss */
.list-item-title-bar > .title:before,
.group > .title:before {
  content: "\e566";
  font-family: "H5P";
  margin-right: 5px;
}
/* line 294, ../scss/_form-groups.scss */
.list-item-title-bar > .title:focus:before,
.group > .title:focus:before {
  outline: 1px dashed #FFFFFF;
}

/* line 298, ../scss/_form-groups.scss */
.listgroup.expanded > .list-item-title-bar > .h5peditor-label:before,
.expanded > .title:before {
  content: "\e565";
}

/* line 314, ../scss/_form-groups.scss */
.listgroup > .group.field {
  margin: 0;
  padding: 0;
}

/* line 318, ../scss/_form-groups.scss */
.content {
  display: block;
  margin: 0;
  padding: 20px;
  border: 1px solid #D0D0D1;
  border-top: none;
  background: #FFFFFF;
}

/* line 326, ../scss/_form-groups.scss */
.h5p-li > .content {
  padding: 10px;
}

/* line 330, ../scss/_form-groups.scss */
.common {
  margin-top: 10px;
}
/* line 333, ../scss/_form-groups.scss */
.common > .h5peditor-label {
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
}
/* line 341, ../scss/_form-groups.scss */
.common > .h5peditor-label > .icon:before {
  content: "\e565";
  font-family: "H5P";
  opacity: 0.7;
}
/* line 346, ../scss/_form-groups.scss */
.common > .h5peditor-label:hover > .icon {
  opacity: 1;
}
/* line 350, ../scss/_form-groups.scss */
.common > .fields {
  min-height: 2em;
  padding: 20px;
  border: 1px solid #D0D0D1;
  border-top: none;
  background: #FFFFFF;
}
/* line 357, ../scss/_form-groups.scss */
.common > .fields .h5peditor-label {
  color: #0E1A25;
  font-size: 18px;
  font-weight: 600;
}
/* line 363, ../scss/_form-groups.scss */
.common > .fields > .desc {
  margin: 0;
  font-size: 0.875em;
  color: #666;
}
/* line 369, ../scss/_form-groups.scss */
.common > .fields p:first-child {
  margin-bottom: 20px;
}
/* line 375, ../scss/_form-groups.scss */
.common.collapsed > .h5peditor-label > .icon:before {
  content: "\e566";
}
/* line 378, ../scss/_form-groups.scss */
.common.collapsed > .fields {
  display: none;
}
/* line 383, ../scss/_form-groups.scss */
.common.hidden {
  display: none;
}

/* line 390, ../scss/_form-groups.scss */
.h5peditor-button[aria-label]:before {
  content: attr(aria-label);
  visibility: hidden;
  position: absolute;
  top: 115%;
  right: -10%;
  z-index: 2;
  padding: 0.25em 0.75em;
  background: #0E1A25;
  color: #FFFFFF;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 0 0 0.5em #858585;
}
/* line 408, ../scss/_form-groups.scss */
.h5peditor-button[aria-label]:hover:before {
  visibility: visible;
}
/* line 412, ../scss/_form-groups.scss */
.h5peditor-button[aria-label][aria-disabled="true"]:before {
  display: none;
}

/* line 2, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editing-image-button {
  background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
  font-size: 14px;
  color: #0E1A25;
  line-height: 28px;
  padding-right: 20px;
  margin-right: 0.5em;
  height: 30px;
  padding-left: 0;
}
/* line 12, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editing-image-button:hover:not([disabled]) {
  background: linear-gradient(to bottom, #fff 0, #d0d0d1 100%);
}
/* line 17, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editing-image-button:before {
  font-family: "H5P";
  content: "\e900";
  color: #666;
  padding-right: 0.3em;
  padding-left: 0.45em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 0.9;
}
/* line 28, ../scss/_h5peditor-image-edit.scss */
.h5peditor .ui-dialog .h5p-editing-image-button,
.h5peditor .ui-dialog .h5p-copyright-button {
  padding-left: 0.5em;
}
/* line 33, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editing-image-button.loading:before {
  content: "\e901";
}
/* line 37, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editing-image-button.hidden,
.h5peditor .h5p-copyright-button.hidden {
  display: none !important;
}
/* line 42, ../scss/_h5peditor-image-edit.scss */
.h5peditor .field.image .file {
  display: inline-block;
  float: none;
}
/* line 48, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editor-image-buttons .h5p-editor-image-buttons {
  display: block;
}
/* line 52, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editor-image-buttons .h5p-copyright-button {
  float: none;
  display: inline-block;
}

/* line 1, ../scss/_h5peditor-image-edit-popup.scss */
body.h5p-editor-image-popup {
  position: relative;
}

/* line 5, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 3em 1em;
  box-sizing: border-box;
  z-index: 101;
}

/* line 19, ../scss/_h5peditor-image-edit-popup.scss */
#darkroom-icons {
  top: 0;
  left: 0;
}

/* line 24, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup-background.hidden {
  display: none;
}

/* line 28, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup {
  display: inline-block;
  position: relative;
  top: 0;
  left: 50%;
  height: auto;
  width: 100%;
  max-height: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header {
  padding: 1em 0.75em;
}

/* line 49, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image {
  max-height: 100%;
  max-width: 100%;
}

/* line 54, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image.hidden {
  display: none;
}

/* line 59, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup .darkroom-toolbar {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: 0;
}
/* line 67, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup .darkroom-toolbar:before {
  content: initial;
}
/* line 71, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup .darkroom-image-container {
  padding: 32px 2em;
}
/* line 75, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup .darkroom-image-container .canvas-container {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.6);
  margin: auto;
}

/* line 81, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-title {
  display: inline-block;
  font-size: 1.25em;
}

/* line 86, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons {
  display: inline-block;
  float: right;
}

/* line 90, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-loading {
  padding: 1em;
}

/* line 94, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-loading.hidden {
  display: none;
}

/* line 98, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-editing-container {
  background: #666;
}

/* line 103, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons button {
  padding: 0.5em 1.75em;
  margin: 0 0 0 1em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  color: #333;
  cursor: pointer;
  background: #f2f2f2;
  background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #fff 0, #f2f2f2 100%);
}
/* line 117, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons button:hover {
  background: #ededed;
}
/* line 121, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons .h5p-done {
  color: #fff;
  border-color: #20588F;
  background: #3673B5;
  background: -webkit-linear-gradient(top, #5A94D3 0, #3673B5 100%);
  background: -ms-linear-gradient(top, #5A94D3 0, #3673B5 100%);
}
/* line 130, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons .h5p-done:hover {
  background: #3275bc;
  background: -webkit-linear-gradient(top, #3275bc 0, #285585 100%);
  background: -ms-linear-gradient(top, #3275bc 0, #285585 100%);
}
/* line 136, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons .h5p-remove {
  background: none;
  border: none;
  color: #a00;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}
/* line 145, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons .h5p-remove:hover {
  background: none;
  color: #e40000;
}

/* line 17, ../scss/application.scss */
html, body {
  margin: 0;
  padding: 0;
  color: #0E1A25;
  font-family: "Open Sans", sans-serif;
  max-width: 960px;
  position: relative;
}

/* line 25, ../scss/application.scss */
a {
  text-decoration: none;
}

/* line 29, ../scss/application.scss */
.h5peditor {
  font-size: 16px;
  /* Placeholders - need to be on separate lines. If not, the browsers will invlaidate them */
}
/* line 32, ../scss/application.scss */
.h5peditor .h5p-more-libraries {
  font-size: 0.875em;
  margin-top: 0.4em;
}
/* line 36, ../scss/application.scss */
.h5peditor .h5peditor-single > .field.library {
  border: 0;
  padding: 0;
}
/* line 41, ../scss/application.scss */
.h5peditor .errors p,
.h5peditor .h5p-errors {
  color: #da0001;
}
/* line 45, ../scss/application.scss */
.h5peditor textarea {
  resize: vertical;
}
/* line 48, ../scss/application.scss */
.h5peditor textarea,
.h5peditor .h5peditor-text,
.h5peditor .ckeditor {
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  min-height: 40px;
  border: 1px solid #D0D0D1;
  background: #FFFFFF;
  outline: none;
  font-size: 16px;
  word-wrap: break-word;
}
/* line 62, ../scss/application.scss */
.h5peditor .h5peditor-text, .h5peditor textarea {
  width: 100%;
  box-sizing: border-box;
}
/* line 67, ../scss/application.scss */
.h5peditor ::-webkit-input-placeholder {
  color: #858585;
}
/* line 70, ../scss/application.scss */
.h5peditor :-moz-placeholder {
  color: #858585;
}
/* line 73, ../scss/application.scss */
.h5peditor ::-moz-placeholder {
  color: #858585;
}
/* line 76, ../scss/application.scss */
.h5peditor :-ms-input-placeholder {
  color: #858585;
}
/* line 79, ../scss/application.scss */
.h5peditor .h5peditor-ckeditor-placeholder {
  color: #858585;
}
/* line 82, ../scss/application.scss */
.h5peditor select {
  padding: 7px 30px 6px 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border: 1px solid #D0D0D1;
  background: #FFFFFF url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAf0lEQVQY053RsQ2EMAyF4d/XwCgpkUiXXZgja6S8haigRYyRDR4NQnCXIIElN7Y/y5JNEk/jA8BinTcfbcYVp2Zz3ny0hQ4AiXYcWAERUmaSk8SREy4FMiCGcUVq/xtnWKmXN4aU+VYWXdAvbFDt5Cu6O/UW7bCnjyUgCXvzpw2xjbiHyolgTgAAAABJRU5ErkJggg==') no-repeat;
  background-position: calc(100% - 10px);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 93, ../scss/application.scss */
.h5peditor select::-ms-expand {
  display: none;
}
/* line 96, ../scss/application.scss */
.h5peditor a:focus {
  outline: none;
}
/* line 99, ../scss/application.scss */
.h5peditor textarea:focus,
.h5peditor .h5peditor-text:focus {
  outline: none;
  background-color: #FFFFFF;
  border-color: #53a0ff;
}
/* line 105, ../scss/application.scss */
.h5peditor .h5p-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 110, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
/* line 10, ../scss/_mixins.scss */
.h5peditor .h5p-ul .h5p-li:first-child {
  margin-top: 0;
}
/* line 14, ../scss/_mixins.scss */
.h5peditor .h5p-ul .h5p-li:last-child {
  margin-bottom: 0;
}
/* line 115, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li.placeholder {
  box-sizing: border-box;
  background: #e8f2fa;
  border: dashed 2px #2782d1;
}
/* line 121, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li:hover {
  text-decoration: none;
}
/* line 125, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li:nth-child(2).moving {
  margin-top: 0;
}
/* line 129, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li:nth-last-child(2).placeholder {
  margin-bottom: 0;
}
/* line 134, ../scss/application.scss */
.h5peditor input[type="button"], .h5peditor button {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background: #687786;
  background-image: linear-gradient(#687786 50%, transparent 50%, transparent);
  width: auto;
  margin: 10px 0 0 0;
  padding: 0 20px;
  box-sizing: border-box;
  height: 38px;
  border: 1px solid #D0D0D1;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 38px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 600;
}
/* line 152, ../scss/application.scss */
.h5peditor input[type="button"]:before, .h5peditor input[type="button"]:after, .h5peditor button:before, .h5peditor button:after {
  color: #FFFFFF;
}
/* line 157, ../scss/application.scss */
.h5peditor input[type="button"][disabled], .h5peditor button[disabled] {
  opacity: 0.5;
}
/* line 161, ../scss/application.scss */
.h5peditor input[type="button"]:hover:not([disabled]), .h5peditor button:hover:not([disabled]) {
  background: #57636e;
  background-image: linear-gradient(#57636e 50%, transparent 50%, transparent);
  text-decoration: none;
}
/* line 168, ../scss/application.scss */
.h5peditor input[type="button"]:hover[disabled], .h5peditor button:hover[disabled] {
  cursor: not-allowed;
}
/* line 172, ../scss/application.scss */
.h5peditor input[type="button"].importance-high, .h5peditor button.importance-high {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background: #488ac9;
  background-image: linear-gradient(#3B87CC 50%, transparent 50%, transparent);
  border: 1px solid #3B71A5;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  height: 48px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 186, ../scss/application.scss */
.h5peditor input[type="button"].importance-high:before, .h5peditor input[type="button"].importance-high:after, .h5peditor button.importance-high:before, .h5peditor button.importance-high:after {
  color: #FFFFFF;
}
/* line 191, ../scss/application.scss */
.h5peditor input[type="button"].importance-high:hover:not([disabled]), .h5peditor button.importance-high:hover:not([disabled]) {
  background: #3B71A5;
  background-image: linear-gradient(#3b71a5 50%, transparent 50%, transparent);
  border-color: #3B71A5;
}
/* line 199, ../scss/application.scss */
.h5peditor input[type="button"].importance-low, .h5peditor button.importance-low {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background: #e4eaf2;
  background-image: linear-gradient(#F3F3F3 50%, transparent 50%, transparent);
  border: 1px solid #afbac9;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #0E1A25;
  height: 38px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 213, ../scss/application.scss */
.h5peditor input[type="button"].importance-low:before, .h5peditor input[type="button"].importance-low:after, .h5peditor button.importance-low:before, .h5peditor button.importance-low:after {
  color: #0E1A25;
}
/* line 218, ../scss/application.scss */
.h5peditor input[type="button"].importance-low:hover:not([disabled]), .h5peditor button.importance-low:hover:not([disabled]) {
  background: #DAD9DA;
  background-image: linear-gradient(#DEDDDE 50%, transparent 50%, transparent);
  border-color: #DAD9DA;
}
/* line 226, ../scss/application.scss */
.h5peditor .dimensions input, .h5peditor .coordinates input, .h5peditor .number input {
  width: 75px;
}
/* line 229, ../scss/application.scss */
.h5peditor .number input[type="range"] {
  width: 300px;
  float: left;
  margin: 7px 8px 0 0;
}
/* line 234, ../scss/application.scss */
.h5peditor .h5p-errors {
  clear: both;
}
/* line 237, ../scss/application.scss */
.h5peditor .h5p-add-file {
  float: left;
  position: relative;
  background: transparent;
  border: 2px dashed #dddddd;
  color: #dddddd;
  margin: 0.5em;
  width: 4em;
  height: 3em;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 251, ../scss/application.scss */
.h5peditor .h5p-add-file:focus,
.h5peditor .h5p-add-file:hover {
  color: #999;
  border-color: #999;
}
/* line 256, ../scss/application.scss */
.h5peditor .h5p-add-file:after {
  position: absolute;
  content: "+";
  font-size: 2em;
  line-height: 1.425em;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 265, ../scss/application.scss */
.h5peditor .h5p-add-dialog {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  left: 1em;
  right: 1em;
  top: 1em;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-shadow: 0 0 8px #666;
  -webkit-box-shadow: 0 0 8px #666;
  box-shadow: 0 0 8px #666;
  -moz-transition: visibility 0s 0.2s, opacity 0.2s;
  -o-transition: visibility 0s 0.2s, opacity 0.2s;
  -webkit-transition: visibility 0s, opacity 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition: visibility 0s 0.2s, opacity 0.2s;
}
/* line 280, ../scss/application.scss */
.h5peditor .h5p-add-dialog.h5p-open {
  visibility: visible;
  opacity: 1;
  -moz-transition: visibility 0s 0s, opacity 0.2s;
  -o-transition: visibility 0s 0s, opacity 0.2s;
  -webkit-transition: visibility 0s, opacity 0.2s;
  -webkit-transition-delay: 0s, 0s;
  transition: visibility 0s 0s, opacity 0.2s;
}
/* line 286, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-dialog-box {
  text-align: center;
  padding: 1em 0.5em;
}
/* line 291, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-buttons {
  padding: 0.5em;
  border-top: 1px solid #cdcdcd;
  background: #ddd;
  text-align: right;
}
/* line 297, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-cancel {
  margin-left: 0.5em;
  color: #b83c3c;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
/* line 305, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-cancel:focus,
.h5peditor .h5p-add-dialog .h5p-cancel:hover {
  color: #e20d0d;
}
/* line 310, ../scss/application.scss */
.h5peditor .h5p-or {
  border-bottom: 1px solid #cdcdcd;
  padding: 0;
  margin: 0 1em;
  text-align: center;
  height: 0.5em;
  line-height: 1em;
}
/* line 317, ../scss/application.scss */
.h5peditor .h5p-or > span {
  background: #fff;
  padding: 0 0.5em;
}
/* line 322, ../scss/application.scss */
.h5peditor .h5p-file-url {
  text-align: center;
}
/* line 325, ../scss/application.scss */
.h5peditor .h5p-thumbnail {
  margin: 0.5em;
  width: 4em;
  height: 3em;
  display: block;
  float: left;
  position: relative;
  -moz-box-shadow: 0 0 10px 0 #666666;
  -webkit-box-shadow: 0 0 10px 0 #666666;
  box-shadow: 0 0 10px 0 #666666;
  border: 1px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 337, ../scss/application.scss */
.h5peditor .h5p-thumbnail .h5p-remove {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  outline: none;
  width: 1em;
  height: 1em;
  line-height: 1em;
  overflow: hidden;
  text-indent: -0.4em;
  padding: 0.065em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 351, ../scss/application.scss */
.h5peditor .h5p-thumbnail .h5p-remove:hover,
.h5peditor .h5p-thumbnail .h5p-remove:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 355, ../scss/application.scss */
.h5peditor .h5p-thumbnail .h5p-remove:after {
  font-family: "H5P";
  font-size: 1.4em;
  color: #fff;
  content: "\e890";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 363, ../scss/application.scss */
.h5peditor .h5p-type {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0.75em;
  line-height: 4em;
  display: block;
  text-align: center;
  background: #000;
  color: #fff;
  cursor: pointer;
}
/* line 375, ../scss/application.scss */
.h5peditor .file {
  position: relative;
}
/* line 378, ../scss/application.scss */
.h5peditor .file .thumbnail {
  display: inline-block;
  margin: 10px 10px 10px 0;
  -moz-box-shadow: 0 0 10px 0 #666666;
  -webkit-box-shadow: 0 0 10px 0 #666666;
  box-shadow: 0 0 10px 0 #666666;
  border: 1px solid #fff;
  cursor: pointer;
}
/* line 385, ../scss/application.scss */
.h5peditor .file .add {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 1.5em 0.5em 1.2em;
  background: linear-gradient(to bottom, #fbfbfb 0, #f2f2f2 100%);
  border: 1px solid #d0d0d1;
  border-radius: 0.25em;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 396, ../scss/application.scss */
.h5peditor .file .add:hover {
  background: #ededed;
}
/* line 400, ../scss/application.scss */
.h5peditor .file .add:focus {
  box-shadow: 0 0 16px 0 rgba(133, 188, 255, 0.84);
}
/* line 404, ../scss/application.scss */
.h5peditor .file .add .h5peditor-field-file-upload-text:before {
  font-family: "H5P";
  content: "\e902";
  color: #39c943;
  margin-right: 1em;
}
/* line 411, ../scss/application.scss */
.h5peditor .file .remove {
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
/* line 418, ../scss/application.scss */
.h5peditor .file .remove:before {
  font-family: "H5P";
  font-size: 1.4em;
  color: #fff;
  content: "\e890";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px;
}
/* line 426, ../scss/application.scss */
.h5peditor .file .remove:hover {
  text-decoration: none;
}
/* line 429, ../scss/application.scss */
.h5peditor .file .remove:hover:before {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px;
}
/* line 434, ../scss/application.scss */
.h5peditor .file img {
  max-width: 100%;
  vertical-align: bottom;
}
/* line 439, ../scss/application.scss */
.h5peditor .video .file, .h5peditor .audio .file {
  position: static;
  overflow: visible;
}
/* line 442, ../scss/application.scss */
.h5peditor .video .file .thumbnail, .h5peditor .video .file .add, .h5peditor .audio .file .thumbnail, .h5peditor .audio .file .add {
  float: left;
}
/* line 445, ../scss/application.scss */
.h5peditor .video .file .add, .h5peditor .audio .file .add {
  margin-top: 8px;
}
/* line 448, ../scss/application.scss */
.h5peditor .video .file .thumbnail, .h5peditor .audio .file .thumbnail {
  overflow: visible;
  position: relative;
  cursor: auto;
}
/* line 453, ../scss/application.scss */
.h5peditor .video .file .remove, .h5peditor .audio .file .remove {
  top: -3px;
  right: -5px;
}
/* line 457, ../scss/application.scss */
.h5peditor .video .file .type, .h5peditor .audio .file .type {
  padding: 16px 8px 4px;
  background: #000;
  color: #fff;
  font-size: 10px;
}
/* line 463, ../scss/application.scss */
.h5peditor .video .file .h5peditor-uploading, .h5peditor .audio .file .h5peditor-uploading {
  float: left;
  margin: 0.5em;
}
/* line 468, ../scss/application.scss */
.h5peditor .libwrap {
  margin-top: 20px;
}
/* line 471, ../scss/application.scss */
.h5peditor .libwrap:empty {
  margin-top: 0;
}
/* line 475, ../scss/application.scss */
.h5peditor input[type="checkbox"] {
  margin: 4px 4px 4px 0;
  vertical-align: bottom;
}
/* line 479, ../scss/application.scss */
.h5peditor .moving {
  position: absolute;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transform: translateZ(0);
}
/* line 485, ../scss/application.scss */
.h5peditor .moving .h5peditor-label {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
/* line 492, ../scss/application.scss */
.h5peditor .h5peditor-uploading, .h5peditor .h5peditor-loading {
  padding-top: 10px;
  padding-bottom: 6px;
  font-size: 14px;
}
/* line 497, ../scss/application.scss */
.h5peditor .h5peditor-loading {
  padding: 0.875em 0 1em 3.25em;
  font-style: italic;
}
/* line 502, ../scss/application.scss */
.h5peditor a.h5p-copyright-button {
  height: 28px;
  float: left;
  display: block;
}
/* line 508, ../scss/application.scss */
.h5peditor .h5p-copyright-button {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  height: 30px;
  background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
  border: 1px solid #D0D0D1;
  color: #0E1A25;
  font-size: 14px;
  line-height: 28px;
  padding-right: 20px;
  padding-left: 0;
  margin-bottom: 10px;
  clear: both;
}
/* line 521, ../scss/application.scss */
.h5peditor .h5p-copyright-button:before {
  font-family: "H5P";
  content: "\e88f";
  color: #666;
  padding: 0 0.25em 0 0.25em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 0.9;
}
/* line 531, ../scss/application.scss */
.h5peditor .h5p-copyright-button:hover:not([disabled]) {
  background: linear-gradient(to bottom, #fff 0, #d0d0d1 100%);
  text-decoration: none;
  border-color: #666666;
}
/* line 538, ../scss/application.scss */
.h5peditor .h5p-editor-dialog {
  position: absolute;
  z-index: 1;
  background: #fff;
  padding: 10px 10px 0;
  margin: 5.5em 0 1em;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -moz-box-shadow: 0 0 8px #666;
  -webkit-box-shadow: 0 0 8px #666;
  box-shadow: 0 0 8px #666;
  -moz-transition: visibility 0s 0.2s, height 0s 0.2s, opacity 0.2s, margin-top 0.2s;
  -o-transition: visibility 0s 0.2s, height 0s 0.2s, opacity 0.2s, margin-top 0.2s;
  -webkit-transition: visibility 0s, height 0s, opacity 0.2s, margin-top 0.2s;
  -webkit-transition-delay: 0.2s, 0.2s, 0s, 0s;
  transition: visibility 0s 0.2s, height 0s 0.2s, opacity 0.2s, margin-top 0.2s;
}
/* line 551, ../scss/application.scss */
.h5peditor .h5p-editor-dialog.h5p-open {
  margin-top: 3.5em;
  visibility: visible;
  opacity: 1;
  height: auto;
  -moz-transition: visibility 0s 0s, height 0s 0s, opacity 0.2s, margin-top 0.2s;
  -o-transition: visibility 0s 0s, height 0s 0s, opacity 0.2s, margin-top 0.2s;
  -webkit-transition: visibility 0s, height 0s, opacity 0.2s, margin-top 0.2s;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;
  transition: visibility 0s 0s, height 0s 0s, opacity 0.2s, margin-top 0.2s;
}
/* line 559, ../scss/application.scss */
.h5peditor .h5p-editor-dialog > .field {
  margin: 0 0 10px;
  border: 0;
  box-shadow: none;
}
/* line 565, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .content {
  border: none;
}
/* line 568, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .content .h5peditor-label {
  color: #0E1A25;
  font-size: 18px;
  font-weight: 600;
}
/* line 575, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .h5p-close {
  color: #494949;
}
/* line 578, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .h5p-close:before {
  font-size: 2em;
  right: -0.125em;
  top: 0;
  position: absolute;
  font-family: "H5P";
  content: "\e894";
  line-height: 1em;
  -moz-transition: scale 0.2s;
  -o-transition: scale 0.2s;
  -webkit-transition: scale 0.2s;
  transition: scale 0.2s;
}
/* line 589, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .h5p-close:hover:before {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 595, ../scss/application.scss */
.h5peditor .h5p-editing-image-button.hidden {
  display: none;
}
/* line 599, ../scss/application.scss */
.h5peditor .h5p-li > .content > .library {
  border: 0;
  padding: 0;
}

/* line 605, ../scss/application.scss */
.h5peditor-field-description,
.h5p-help-text {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #5d6c7d;
  line-height: 15px;
  letter-spacing: 0.5px;
}

/* line 616, ../scss/application.scss */
.h5peditor-form {
  position: relative;
  padding: 20px;
  background: #FAFBFC;
  border: 1px solid #D0D0D1;
}

/* line 623, ../scss/application.scss */
.h5peditor-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 1.1em;
  color: #356593;
}

/* line 631, ../scss/application.scss */
#h5peditor-uploader {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1px;
  border: 0;
  overflow: hidden;
}

/* line 640, ../scss/application.scss */
.h5p-tutorial-url {
  font-size: 0.875em;
}

/* line 644, ../scss/application.scss */
.h5p-tutorial-url:before {
  font-family: "H5P";
  content: "\e889";
  font-size: 1.5em;
  position: relative;
  top: .2em;
  left: .2em;
}

/* line 653, ../scss/application.scss */
.h5peditor-widget-select {
  overflow: hidden;
  margin: 0 0 -1px;
  padding: 0;
  list-style: none;
}

/* line 659, ../scss/application.scss */
.h5peditor-widget-option {
  float: right;
  border: 1px solid #ccc;
  border-bottom: 0;
  margin-left: 0.5em;
  padding: 0.25em 0.5em;
  color: #555;
  font-size: 0.875em;
  background: #f4f4f4;
  line-height: 1.285714286em;
  cursor: pointer;
  outline: none;
}

/* line 672, ../scss/application.scss */
.h5peditor-widget-option:hover {
  color: #000;
}

/* line 675, ../scss/application.scss */
.h5peditor-widget-option:active {
  color: #8e636a;
  /* Pink chocolate */
}

/* line 678, ../scss/application.scss */
.h5peditor-widget-active {
  background: #fff;
  line-height: 1.357142857em;
}

/* line 683, ../scss/application.scss */
.h5peditor-widgets > .h5peditor-widget-wrapper {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 0.25em;
  padding: 0.5em;
}

/* line 690, ../scss/application.scss */
.h5peditor-widgets > .h5peditor-label {
  float: left;
}

/* line 693, ../scss/application.scss */
.h5p-editor-iframe {
  margin-bottom: 1em;
}

/* line 696, ../scss/application.scss */
.h5peditor-required:after {
  content: "*";
  color: #da0001;
  margin-left: 0.25em;
}

/* line 702, ../scss/application.scss */
body.h5p-editor-image-popup {
  position: relative;
}

/* line 706, ../scss/application.scss */
.h5p-editing-image-popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 3em 1em;
  box-sizing: border-box;
  z-index: 101;
}

/* line 720, ../scss/application.scss */
#darkroom-icons {
  top: 0;
  left: 0;
}

/* line 725, ../scss/application.scss */
.h5p-editing-image-popup-background.hidden {
  display: none;
}

/* line 729, ../scss/application.scss */
.h5p-editing-image-popup {
  display: inline-block;
  position: relative;
  top: 0;
  left: 50%;
  height: auto;
  width: 100%;
  max-height: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 746, ../scss/application.scss */
.h5p-editing-image-header {
  padding: 1em 0.75em;
}

/* line 750, ../scss/application.scss */
.h5p-editing-image {
  max-height: 100%;
  max-width: 100%;
}

/* line 755, ../scss/application.scss */
.h5p-editing-image.hidden {
  display: none;
}

/* line 760, ../scss/application.scss */
.h5p-editing-image-popup .darkroom-toolbar {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: 0;
}
/* line 768, ../scss/application.scss */
.h5p-editing-image-popup .darkroom-toolbar:before {
  content: initial;
}
/* line 772, ../scss/application.scss */
.h5p-editing-image-popup .darkroom-image-container {
  padding: 32px 2em;
}
/* line 776, ../scss/application.scss */
.h5p-editing-image-popup .darkroom-image-container .canvas-container {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.6);
  margin: auto;
}

/* line 782, ../scss/application.scss */
.h5p-editing-image-header-title {
  display: inline-block;
  font-size: 1.25em;
}

/* line 787, ../scss/application.scss */
.h5p-editing-image-header-buttons {
  display: inline-block;
  float: right;
}

/* line 791, ../scss/application.scss */
.h5p-editing-image-loading {
  padding: 1em;
}

/* line 795, ../scss/application.scss */
.h5p-editing-image-loading.hidden {
  display: none;
}

/* line 799, ../scss/application.scss */
.h5p-editing-image-editing-container {
  background: #666;
}

/* line 804, ../scss/application.scss */
.h5p-editing-image-header-buttons button {
  padding: 0.5em 1.75em;
  margin: 0 0 0 1em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  color: #333;
  cursor: pointer;
  background: #f2f2f2;
  background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #fff 0, #f2f2f2 100%);
}
/* line 818, ../scss/application.scss */
.h5p-editing-image-header-buttons button:hover {
  background: #ededed;
}
/* line 822, ../scss/application.scss */
.h5p-editing-image-header-buttons .h5p-done {
  color: #fff;
  border-color: #20588F;
  background: #3673B5;
  background: -webkit-linear-gradient(top, #5A94D3 0, #3673B5 100%);
  background: -ms-linear-gradient(top, #5A94D3 0, #3673B5 100%);
}
/* line 831, ../scss/application.scss */
.h5p-editing-image-header-buttons .h5p-done:hover {
  background: #3275bc;
  background: -webkit-linear-gradient(top, #3275bc 0, #285585 100%);
  background: -ms-linear-gradient(top, #3275bc 0, #285585 100%);
}
/* line 837, ../scss/application.scss */
.h5p-editing-image-header-buttons .h5p-remove {
  background: none;
  border: none;
  color: #a00;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}
/* line 846, ../scss/application.scss */
.h5p-editing-image-header-buttons .h5p-remove:hover {
  background: none;
  color: #e40000;
}
