@font-face {
  font-family: 'h5p-hub';
  src:  url('fonts/h5p-hub.eot?t35yrv');
  src:  url('fonts/h5p-hub.eot?t35yrv#iefix') format('embedded-opentype'),
  url('fonts/h5p-hub.ttf?t35yrv') format('truetype'),
  url('fonts/h5p-hub.woff?t35yrv') format('woff'),
  url('fonts/h5p-hub.svg?t35yrv#h5p') format('svg');
  font-weight: normal;
  font-style: normal;
}
