.h5peditor .h5p-editing-image-button {
  line-height: 1.5;
  margin-right: 0.5em;
}

.h5peditor .ui-dialog .h5p-editing-image-button {
  font-size: 0.875em;
}

.h5peditor .h5p-editing-image-button.hidden {
  display: none;
}

.h5peditor .field.image .file {
  display: inline-block;
  float: none;
}

.h5peditor .h5p-editor-image-buttons .h5p-editor-image-buttons {
  display: block;
}

.h5peditor .h5p-editor-image-buttons .h5p-copyright-button {
  float: none;
  display: inline-block;
}
