%title-bar-base {
  visibility: inherit;
}

%title-bar-importance-high {
  background: $form-item-importance-high-background;
  border: 1px solid $form-item-importance-high-border-color;
  height: $form-item-height-large;
}
%title-bar-text-importance-high {
  font-size: $font-size-large;
  font-weight: 600;
  color: $white;
  line-height: $form-item-height-large;
  // Fix white text on dark background blockiness
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%title-bar-importance-medium {
  background: $form-item-importance-medium-background;
  border: 1px solid $form-item-importance-medium-border-color;
  height: $form-item-height-normal;
}
%title-bar-text-importance-medium {
  font-size: $font-size-normal;
  font-weight: 600;
  color: $white;
  line-height: $form-item-height-normal;
  // Fix white text on dark background blockiness
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%title-bar-importance-low {
  background: $form-item-importance-low-background;
  height: $form-item-height-normal;
  border: 1px solid $form-border-color;
}
%title-bar-text-importance-low {
  font-size: $font-size-normal;
  font-weight: 400;
  color: $text-color;
  line-height: $form-item-height-normal;
}

.group {
  border: none;

  & > .title {
    @extend %title-bar-base;
    @extend %title-bar-importance-low;
    @extend %title-bar-text-importance-low;
    padding: 0 $min-padding;
    outline: none;
    cursor: pointer;
    color: $text-color;

    &:before {
      color: color;
    }
    &:focus:before {
      outline: 1px dashed color;
    }
  }

  & > .content {
    display: none;
    margin: 0;
    padding: $padding;
    border: 1px solid $form-border-color;
    border-top: none;
    background: $form-content-background;
  }

  &.importance-high > .title {
    @extend %title-bar-importance-high;
    @extend %title-bar-text-importance-high;
    color: $white;
  }

  &.importance-medium > .title{
    @extend %title-bar-importance-medium;
    @extend %title-bar-text-importance-medium;
    color: $white;
  }
}

.list-item-title-bar {
  @extend %title-bar-base;
  @extend %title-bar-importance-low;

  & > .h5peditor-label {
    @extend %title-bar-text-importance-low;

    overflow: hidden;
    margin: 0 $form-item-buttons-width-normal 0 0;
    padding: 0 $min-padding;
    white-space: nowrap;
    line-height: $form-item-height-normal;
    outline: none;
    text-overflow: ellipsis;
  }

  & > .list-actions {
    height: 100%;
    float: right;
  }

  .remove {
    cursor: pointer;
    width: 1.25em;
    height: $form-item-height-normal;
    font-size: 1.75em;
    display: inline-block;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  .remove:after {
    font-family: $i;
    content: "\e890";
    color: $white;
    opacity: 0.7;
    display: inline-block;
    line-height: $form-item-height-normal;
  }

  .remove:hover:after {
    opacity: 1;
  }

  .order-group {
    text-align: center;
    float: right;
  }

  .order-up, .order-down {
    width: $form-item-height-normal / 2;
    height: $form-item-height-normal / 2;
    background: $form-item-importance-medium-border-color;
    font-size: $font-size-normal;
    line-height: $form-item-height-normal / 2;
    cursor: pointer;

    &:hover {
      background: $form-item-importance-medium-background-hover;
    }

    &:after {
      font-family: $i;
      content: "\e58e";
      color: $white;
      display: inline-block;
    }
  }

  .order-down:after {
    content: "\e58f";
  }

  &.importance-high {
    @extend %title-bar-importance-high;

    & > .title {
      @extend %title-bar-text-importance-high;
      border: none;
      margin: 0 $form-item-buttons-width-large 0 0;
    }

    .remove {
      height: $form-item-height-large;
      line-height: $form-item-height-large;
      font-size: 40px;

      &:after {
        line-height: $form-item-height-large;
      }
    }
    .remove:after {
      color: $white;
      opacity: 0.7;
    }
    .remove:hover:after {
      opacity: 1;
    }

    .order-up, .order-down {
      width: $form-item-height-large / 2;
      height: $form-item-height-large / 2;
      background: $form-item-importance-high-border-color;
      font-size: $font-size-large;
      line-height: $form-item-height-large / 2;

      &:hover {
        background: $form-item-importance-high-background-hover;
      }

      &:after {
        color: $white;
      }
    }
  }

  &.importance-low {
    @extend %title-bar-importance-low;

    & > .title {
      @extend %title-bar-text-importance-low;
      border: none;
      margin: 0 $form-item-buttons-width-normal 0 0;

      &:before {
        color: $text-color;
      }
      &:focus:before {
        outline: 1px dashed $text-color;
      }
    }

    .remove {
      height: $form-item-height-normal;
      line-height: $form-item-height-normal;
      font-size: 30px;

      &:after {
        line-height: $form-item-height-normal;
      }
    }
    .remove:after {
      color: $text-color;
      opacity: 0.7;
    }
    .remove:hover:after {
      opacity: 1;
    }

    .order-up, .order-down {
      width: $form-item-height-normal / 2;
      height: $form-item-height-normal / 2;
      background: $form-item-importance-low-border-color;
      font-size: $font-size-normal;
      line-height: $form-item-height-normal / 2;

      &:hover {
        background: $form-item-importance-low-background-hover;
      }

      &:after {
        color: $text-color;
      }
    }
  }
}
.group.expanded,
.listgroup.expanded {
  & > .content {
    display: block;
  }
}

.listgroup > .list-item-title-bar > .h5peditor-label {
  cursor: pointer;
}
.list-item-title-bar > .h5peditor-label,
.group > .title  {
  &:before {
    content: "\e566";
    font-family: $i;
    margin-right: $min-padding/2;
  }

  &:focus:before {
    outline: 1px dashed $white;
  }
}
.listgroup.expanded > .list-item-title-bar > .h5peditor-label:before,
.expanded > .title:before {
  content: "\e565";
}
.listgroup > .list-item-title-bar > .h5peditor-label:hover:before,
.listgroup > .list-item-title-bar > .h5peditor-label:focus:before,
.group > .title:hover:before,
.group > .title:focus:before {

}

.listgroup > .list-item-title-bar > .h5peditor-label:active:before,
.group > .title:active:before {

}

.listgroup > .group.field {
  margin: 0;
  padding: 0;
}
.content {
  display: block;
  margin: 0;
  padding: $padding;
  border: 1px solid $form-border-color;
  border-top: none;
  background: $form-content-background;
}

.common {
  margin-top: $min-padding;

  & > .h5peditor-label {
    @extend %title-bar-base;
    @extend %title-bar-importance-low;
    @extend %title-bar-text-importance-low;
    margin: 0;
    padding: 0 $min-padding;
    cursor: pointer;

    & > .icon:before {
      content: "\e565";
      font-family: $i;
      opacity: 0.7;
    }
    &:hover > .icon {
      opacity: 1;
    }
  }
  & > .fields {
    min-height: 2em;
    padding: $padding;
    border: 1px solid $form-border-color;
    border-top: none;
    background: $form-content-background;

    & > .desc {
      margin: 0;
      font-size: 0.875em;
      color: #666;
    }

    p:first-child {
      margin-bottom: $padding;
    }
  }

  &.collapsed {
    & > .h5peditor-label > .icon:before {
      content: "\e566";
    }
    & > .fields {
      display: none;
    }
  }

  &.hidden {
    display: none;
  }
}

.h5peditor-button[aria-label] {
  position: relative;

  &:before {
    content: attr(aria-label);
    visibility: hidden;

    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    padding: 0.25em 0.75em;
    background: $text-color;
    color: $white;
    white-space: nowrap;
    font-size: $font-size-small;
    line-height: 1.5;
    box-shadow: 0 0 0.5em $form-input-placeholder-color;
  }

  &:hover:before,
  &:focus:before {
    visibility: visible;
  }
}
