.h5p-dnd__container {
  clear: both;
  margin-top: 0.5rem;
}

.h5p-dnd__container,
.h5p-dnd__box {
  &.has-error .h5p-errors {
    margin-top: 1em;
    display: flex;
    align-items: center;
    &:before {
      font-family: $icon-font-family;
      content: "\e859";
      font-size: 1.5em;
      vertical-align: middle;
    }
  }
  .h5p-errors {
    display: none;
  }
}

.h5p-dnd__box {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: center;
  border: solid 2px $dnd-gray-light;
  border-radius: 6px;
  flex: 1;
  min-height: 150px;
  position: relative;
  background: none;
  font-size: 14px;
}

.h5p-dnd__box--is-dashed {
  border: dashed 2px $dnd-gray-light;
}

.h5p-dnd__box--is-inline {
  display: inline-flex;
}

.h5p-dnd__box--has-image {
  flex-flow: column;
  width: min-content;
  min-height: auto;
  min-width: 140px;
}

.h5p-dnd__box:focus-visible {
  outline: none;
}

.h5p-dnd__box:not(.h5p-dnd__box--is-uploading):hover {
  border: dashed 2px $dnd-gray-dark;
}

.h5p-dnd__box--has-image:not(.h5p-dnd__box--is-uploading):hover,
.h5p-dnd__box.h5p-dnd__box--is-focused:not(.h5p-dnd__box--is-uploading),
.h5p-dnd__box:not(.h5p-dnd__box--is-uploading):focus,
.h5p-dnd__box.h5p-dnd__box--is-dragging:not(.h5p-dnd__box--is-uploading) {
  border: solid 2px $dnd-blue;
}


.h5p-dnd__box:focus:not(.h5p-dnd__box--has-image):not(.h5p-dnd__box--is-uploading):not(.h5p-dnd__box--is-inline) {
  .h5p-dnd__column--is-highlighted {
    background: #fff;
  }
  .h5p-dnd__column:not(.h5p-dnd__column--is-highlighted):not(.h5p-dnd__column--tight) {
    background: $dnd-blue-faded;
  }
}

.h5p-dnd__box__block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 2;
}

.h5p-dnd__box--is-dragging .h5p-dnd__box__block {
  display: block;
}

.h5p-dnd__column {
  margin: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  flex: 1;
}

.h5p-dnd__column--is-highlighted {
  background: $dnd-blue-faded;
}

.h5p-dnd__column--is-fixed {
  flex: 0 0 150px;
}

.h5p-dnd__column--is-full-width {
  flex: 1;
}
.h5p-dnd__column--show-when-focus {
  display: none;
}

.h5p-dnd__column--is-padded {
  padding: 0 20px;
}

.h5p-dnd__column--is-padded-small {
  padding: 0 10px;
}

.h5p-dnd__column.h5p-dnd__column--is-padded-small {
  margin: 0;
}

.h5p-dnd__box--is-dragging .h5p-dnd__column--hide-when-focus {
  display: none;
}

.h5p-dnd__box:not(.h5p-dnd__box--is-uploading).h5p-dnd__box--is-dragging .h5p-dnd__column--show-when-focus,
.h5p-dnd__box:not(.h5p-dnd__box--is-uploading).h5p-dnd__box--has-image:focus .h5p-dnd__column--show-when-focus {
  display: flex;
}

.h5p-dnd__column--tight {
  max-height: 130px;
  &:has(.h5p-dnd__video-container) {
    margin-right: 0;
  }
}

.h5p-dnd__column__drag-text {
  margin-top: -5px;
}

.h5p-dnd__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  gap: 5px;
  border-radius: 4px;
  border: 1px solid #1F67A8;
  background: #2579C6;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;

  &:focus {
    outline: solid 2px #1F67A8;
    outline-offset: 2px;
  }

  &:before {
    font-family: $icon-font-family;
    content: "\e85d";
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 0.9;
    font-weight: 400;
  }
}

.h5p-dnd__btn:hover {
  background: #1F67A8;
}

.h5p-dnd__btn:focus {
  outline: solid 2px #1F67A8;
  outline-offset: 2px;
}

div:has(> .h5p-dnd__badge),
div:has(> .h5p-dnd-nowrap),
.h5p-dnd__column--is-padded:has(.h5p-dnd__badge) {
  line-height: 1.7;
}


.h5p-dnd__badge {
  background: #E7E9EE;
  color: #434446;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Arial Black';
  border-radius: 6px;
  padding: 3px 8px;
  display: inline-flex;
  line-height: 1.4;

  .h5p-dnd__badge__separator {
    border-left: solid 2px rgba(67, 68, 70, 0.25);
    margin: 3px 6px;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
  }
}

.h5p-dnd__img {
  max-width: 175px;
  max-height: 120px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 6px;
  display: block;
}

.h5p-dnd__img__container {
  position: relative;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h5p-dnd__img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: $dnd-blue;
  opacity: 0.9;
  color: #fff;
  display: none;
  cursor: pointer;
  &:before {
    font-family: $icon-font-family;
    content: "\e85d";
    font-size: 2.5em;
  }
}

.h5p-dnd__img__container:hover .h5p-dnd__img__overlay,
.h5p-dnd__box:focus:not(.h5p-dnd__box--is-uploading) .h5p-dnd__img__overlay,
.h5p-dnd__box.h5p-dnd__box--is-dragging:not(.h5p-dnd__box--is-uploading) .h5p-dnd__img__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h5p-dnd__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  color: $dnd-text-color;
}

.h5p-dnd__upload-image-svg,
.h5p-dnd__upload-audio-svg,
.h5p-dnd__upload-video-svg {
  width: 60px;
  height: 43px;
  margin-bottom: 13px;
}


.h5p-dnd__upload-image-svg {
  background: url("../css/fonts/upload-image.svg") no-repeat;
}

.h5p-dnd__upload-video-svg {
  background: url("../css/fonts/upload-video.svg") no-repeat;
}

.h5p-dnd__upload-audio-svg {
  background: url("../css/fonts/upload-audio.svg") no-repeat;
}
.h5p-dnd__play-icon-svg {
  background: url("../css/fonts/play-icon.svg") no-repeat;
  width: 28px;
  height: 29px;
}

.h5p-dnd__drop-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;

  &:before {
    font-size: 3.9em;
    font-family: $icon-font-family;
    content: "\e85d";
    color: #3B435A;
    line-height: 0.9;
    margin-bottom: 10px;
  }
}

.input-container {
  display: flex;
  align-items: center;
  border: solid 1px #D0D0D1;
  padding: 3px;
  width: 100%;
  border-radius: 2px;
  background: #fff;
  gap: 5px;

  &:has(.input-video:focus) {
    border: solid 1px #1570df;
  }
}

/* Need high specificity to counteract interactive video styling for inputs */
.h5p-dnd__av-container .h5p-dnd__box__url.h5p-dnd__box__video-paste .input-container input[type="text"].input-video {
  border: 0;
  flex: 1;
  outline: 0;
  font-size: 1em;
  box-shadow: none;

  &:focus {
    background: none;
    box-shadow: none;
  }
}

.text-muted {
  color: #454347;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  line-height: normal;
}
.text-center {
  text-align: center;
}

.h5p-dnd__box__title {
  color: #454347;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.h5p-dnd__box.h5p-dnd__box__url,
.h5p-dnd__box__url {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: #454347;
  font-size: 14px;
  border-radius: 6px;
  flex: 1;
  min-height: 169px;
  position: relative;
  background: none;
  padding: 10px;
  gap: 7px;
  min-width: 271px;
  box-sizing: border-box;

  &:focus:not(.h5p-dnd__box__video-paste):not(.h5p-dnd__box--is-dragging):not(.h5p-dnd__box--is-uploading),
  &:focus-within:not(.h5p-dnd__box__video-paste):not(.h5p-dnd__box--is-dragging):not(.h5p-dnd__box--is-uploading) {
    background: $dnd-blue-faded;
    border: solid 2px #1570df;
  }
  &:focus-visible:not(.h5p-dnd__box__video-paste):not(.h5p-dnd__box--is-uploading) {
    outline: 0;
    border: solid 2px #1570df;
  }

  &.h5p-dnd__box__video-paste {
    border: solid 1px #D0CFD4;
    padding: 20px;
  }
}

.h5p-dnd__box.h5p-dnd__box__action {
  flex: 2;
}

.h5p-dnd__box.h5p-dnd__box__video-paste {
  flex: 1 0 fit-content;
}

.h5p-dnd__videobox-wrapper ~ .h5p-dnd__box__url {
  height: 154px;
  min-height: 110px;
  min-width: 260px;

  .h5p-dnd__upload-audio-svg,
  .h5p-dnd__upload-video-svg {
    display: none;
  }
}

.h5p-dnd__videobox-wrapper~.h5p-dnd__box__url.h5p-dnd__box.has-error {
  height: auto;
}

.h5p-dnd__box--is-dashed:not(.h5p-dnd__box--is-uploading):hover {
  border: dashed 2px #ACACAC;
}

.h5p-dnd__row {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.h5p-bold {
  font-weight: 700;
}

.divider {
  border-top: solid 1px #D0CFD4;
  width: 35%;
  margin: 0 10px;
}

.h5p-dnd__box--has-video {
  flex-flow: column;
  width: 100%;
}

.h5p-dnd__videobox-wrapper:not(.h5p-dnd__videobox-wrapper--is-provider) {
  .h5p-dnd__box--has-video:focus {
    .h5p-dnd__video-container {
      background: #1670DF;
      &:before {
        font-family: $icon-font-family;
        content: "\e85d";
        font-size: 2.5em;
      }

      .h5p-dnd__video-overlay {
        display: none;
      }
    }
  }
  .h5p-dnd__video-container {
    cursor: pointer;

    &:hover {
      background: #1670DF;

      &:before {
        font-family: $icon-font-family;
        content: "\e85d";
        font-size: 2.5em;
      }
      .h5p-dnd__video-overlay {
        display: none;
      }
    }
  }
}

.h5p-dnd__videobox-wrapper--is-provider {
  .h5p-dnd__box--has-video {
    &:focus,
    &:hover {
      border: solid 2px #D0CFD4;
    }
  }
}

.h5p-dnd__videobox-wrapper--has-label {
  min-width: 400px;
  flex: 1;
}

.h5p-dnd__video-container {
  width: 100%;
  height: 100%;
  min-height: 130px;
  background: #1B1B1B;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.h5p-dnd__video-overlay {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.h5p-dnd__box--has-video.h5p-dnd__box--is-dragging {
  .h5p-dnd__video-container {
    background: #1670DF;
  }
}

.h5p-dnd__box:not(.h5p-dnd__box--is-uploading).h5p-dnd__box--has-image:focus .h5p-dnd__column--show-when-focus,
.h5p-dnd__box:not(.h5p-dnd__box--is-uploading).h5p-dnd__box--has-video:focus .h5p-dnd__column--show-when-focus
{
  display: flex;
}

.h5p-dnd__av-container {
  display: flex;
  align-items: flex-start;
  gap: 11px;
  flex-flow: row wrap;
  margin-bottom: 20px;
  container: h5p-dnd__av-container / inline-size;
}

.h5p-dnd__videobox-wrapper:not(.h5p-dnd__videobox-wrapper--is-provider) ~ .h5p-dnd__box__video-paste,
.h5p-dnd__box--is-dragging + .h5p-dnd__box__video-paste {
  display: none;
}

.h5p-dnd__videobox-wrapper--is-provider + .h5p-dnd__box__url {
  display: none;
}

.h5p-dnd__box--is-uploading + .h5p-dnd__box__video-paste {
  display: none;
}

.h5p-dnd__videobox-wrapper {
  width: 195px;
  text-align: center;
}

.h5p-dnd__video-quality {
  text-align: left;
  height: 130px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-left: solid 1px #ccc;
  padding: 0 10px;
}

.h5p-dnd__video-quality-title {
  font-size: 14px;
}

.h5p-dnd__video-quality-description {
  font-size: 11px;
  line-height: normal;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.h5p-dnd__box__url.h5p-dnd__box--is-dragging .h5p-dnd__column.h5p-dnd__column--is-highlighted {
  width: 100%;
  margin: 0;
}

.h5p-dnd__btn__insert-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 150px;
  &:before {
    content: '\e85c';
  }
}

@media (max-width: 525px) {
  .h5p-dnd__box {
    flex-flow: column;
  }
}

.h5p-dnd__box__url {
  container: h5p-dnd__box__url / inline-size;
}

.h5p-dnd__row--when-wide,
.h5p-dnd__column--when-wide {
  display: none;
}

.h5p-dnd__row:has(.input-container) {
  flex: 0;
}

.h5p-dnd__column--no-margin,
.h5p-dnd__column--no-margin.h5p-dnd__column {
  margin: 0;
}

@container h5p-dnd__av-container (min-width: 760px) {
  .h5p-dnd__box.h5p-dnd__box__action {
    flex-flow: row;
    align-items: stretch;
    padding: 0;
  }

  .h5p-dnd__row--when-wide,
  .h5p-dnd__column--when-wide {
    display: flex;
  }

  .h5p-dnd__row--when-small,
  .h5p-dnd__column--when-small {
    display: none;
  }

  .h5p-dnd__box.h5p-dnd__box__action,
  .h5p-dnd__box__action {
    background: #fff;
  }
}


@container h5p-dnd__av-container (max-width: 760px) {
  .h5p-dnd__badge,
  .h5p-dnd__column,
  .h5p-dnd__row {
    font-size: 0.85em;
  }

  .text-muted {
    font-size: 1em;
  }

  .h5p-dnd__btn__insert-url {
    max-width: 120px;
  }
}

@container h5p-dnd__av-container (max-width: 250px) {
  .h5p-dnd__box__url,
  .h5p-dnd__box.h5p-dnd__box__url,
  .h5p-dnd__videobox-wrapper~.h5p-dnd__box__url {
    min-width: 0;
    flex-basis: 100%;
  }

  .h5p-dnd__btn__insert-url {
    max-width: 90px;
  }

  .h5p-dnd__box__url.h5p-dnd__box__video-paste {
    padding: 10px;
  }
}

.h5p-dnd__videobox-wrapper ~ .h5p-dnd__box__url {
  &.h5p-dnd__box.h5p-dnd__box__action {
    flex-flow: column;
    align-items: center;
    padding: 10px;
  }

  .h5p-dnd__row--when-wide,
  .h5p-dnd__column--when-wide {
    display: none;
  }

  .h5p-dnd__row--when-small,
  .h5p-dnd__column--when-small {
    display: flex;
  }
}

.h5p-dnd-nowrap {
  white-space: nowrap;
}