.h5p-dnd__container {
  &.has-error .h5p-errors {
    margin-top: 1em;
    display: flex;
    align-items: center;
    &:before {
      font-family: $icon-font-family;
      content: "\e859";
      font-size: 1.5em;
      vertical-align: middle;
    }
  }
  .h5p-errors {
    display: none;
  }
}

.h5p-dnd__box {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: center;
  border: solid 2px #D0CFD4;
  border-radius: 6px;
  flex: 1;
  min-height: 150px;
  position: relative;
  background: none;
}

.h5p-dnd__box--is-dashed {
  border: dashed 2px #D0CFD4;
}

.h5p-dnd__box--is-inline {
  display: inline-flex;
}

.h5p-dnd__box--has-image {
  flex-flow: column;
  width: min-content;
}

.h5p-dnd__box:focus-visible {
  outline: none;
}

.h5p-dnd__box:not(.h5p-dnd__box--is-uploading):hover {
  border: dashed 2px #ACACAC;
}

.h5p-dnd__box--has-image:not(.h5p-dnd__box--is-uploading):hover,
.h5p-dnd__box.h5p-dnd__box--is-focused:not(.h5p-dnd__box--is-uploading),
.h5p-dnd__box:not(.h5p-dnd__box--is-uploading):focus,
.h5p-dnd__box.h5p-dnd__box--is-dragging:not(.h5p-dnd__box--is-uploading) {
  border: solid 2px $dnd-blue;
}

.h5p-dnd__box:focus:not(.h5p-dnd__box--has-image) {
  .h5p-dnd__column--is-highlighted {
    background: #fff;
  }
  .h5p-dnd__column:not(.h5p-dnd__column--is-highlighted) {
    background: $dnd-blue-faded;
  }
}

.h5p-dnd__box__block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 2;
}

.h5p-dnd__box--is-dragging .h5p-dnd__box__block {
  display: block;
}

.h5p-dnd__column {
  margin: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  flex: 1;
}

.h5p-dnd__column--is-highlighted {
  background: $dnd-blue-faded;
}

.h5p-dnd__column--is-fixed {
  flex: 0 0 150px;
}

.h5p-dnd__column--is-full-width {
  flex: 1;
}
.h5p-dnd__column--show-when-focus {
  display: none;
}

.h5p-dnd__box--is-dragging .h5p-dnd__column--hide-when-focus {
  display: none;
}

.h5p-dnd__box:not(.h5p-dnd__box--is-uploading).h5p-dnd__box--is-dragging .h5p-dnd__column--show-when-focus,
.h5p-dnd__box:not(.h5p-dnd__box--is-uploading).h5p-dnd__box--has-image:focus .h5p-dnd__column--show-when-focus {
  display: flex;
}

.h5p-dnd__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  gap: 5px;
  border-radius: 4px;
  border: 1px solid #1F67A8;
  background: #2579C6;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;

  &:focus {
    outline: solid 2px #1F67A8;
    outline-offset: 2px;
  }

  &:before {
    font-family: $icon-font-family;
    content: "\e85d";
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 0.9;
  }
}

.h5p-dnd__btn:hover {
  background: #1F67A8;
}

.h5p-dnd__btn:focus {
  outline: solid 2px #1F67A8;
  outline-offset: 2px;
}


.h5p-dnd__badge {
  background: #E7E9EE;
  color: #434446;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  border-radius: 6px;
  padding: 3px 8px;
}

.h5p-dnd__img {
  max-width: 175px;
  border-radius: 6px;
  display: block;
}

.h5p-dnd__img__container {
  position: relative;
}

.h5p-dnd__img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: $dnd-blue;
  opacity: 0.9;
  color: #fff;
  display: none;
  cursor: pointer;
  &:before {
    font-family: $icon-font-family;
    content: "\e85d";
    font-size: 2.5em;
  }
}

.h5p-dnd__img__overlay:hover,
.h5p-dnd__box--has-image:has(.h5p-dnd__img:hover) .h5p-dnd__img__overlay,
.h5p-dnd__box:focus:not(.h5p-dnd__box--is-uploading) .h5p-dnd__img__overlay,
.h5p-dnd__box.h5p-dnd__box--is-dragging:not(.h5p-dnd__box--is-uploading) .h5p-dnd__img__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h5p-dnd__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  color: $dnd-text-color;
}

.h5p-dnd__upload-image-svg {
  background: url("../../images/drag-and-drop/upload-image.svg") no-repeat;
  width: 60px;
  height: 43px;
  margin-bottom: 13px;
}

.h5p-dnd__drop-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;

  &:before {
    font-size: 3.9em;
    font-family: $icon-font-family;
    content: "\e85d";
    color: #3B435A;
    line-height: 0.9;
    margin-bottom: 10px;
  }
}