.h5peditor .h5p-metadata-wrapper {
  z-index: 10;
  margin-top: -4.0em;
  padding: 1em;
  display: flex;
  flex-direction: column;

  .h5peditor-label {
    font-size: 1em;
  }

  .copyright-form {
    margin-top: 20px;
  }

  h2 {
    font-size: 1.250em;
    overflow: hidden;
    text-overflow:ellipsis;
  }

  p {
    font-size: 0.8333em;
    color: #697484;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .errors p,
  .h5p-errors p {
    color: #da0001;
    font-size: 1em;
    white-space: normal;
    text-overflow: unset;
  }

  &:after {
    position: absolute;
    left: 0;
    top: 6.5em;
    height: 1px;
    background: #ced6e3;
    content: "";
    width: 100%;
    display: block;
  }

  select {
    width: 100%;
    border: solid 1px #b8c0ce;
    font-size: 0.833em;
    border-radius: 0.208em;
    box-shadow: none;
  }

  input {
    border: solid 1px #b8c0ce;
    font-size: 0.833em;
    border-radius: 0.208em;
    box-shadow: none;
  }

  .h5p-metadata-fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 1em 1em 1em;

    > .field {
      margin-bottom: 0.5em;
      width: 100%;
    }

    > .field-name-license {
      width: 49%;
      margin-right: 1%;
    }

    > .field-name-licenseVersion {
      width: 49%;
      margin-left: 1%;
    }

    > .field-name-yearFrom {
      width: 24%;
      margin-right: 1%;
      white-space: nowrap;

      .h5peditor-text {
        width: 100%;
      }
    }

    > .field-name-yearTo {
      width: 23%;
      margin-right: 1%;
      margin-left: 1%;

      .h5peditor-text {
        width: 100%;
      }
    }

    > .field-name-source {
      width: 49%;
      margin-left: 1%;
    }
  }

  .field.group {
    > .title {
      font-weight: 400;
      background: #F6F6F6;
      color: #323232;
      border: solid 1px #ced6e3;
      border-radius: 0.208em;
    }
    > .title:focus {
      border-color: rgb(77, 144, 254);
    }
    > .content {
      border: solid 1px #ced6e3;
      border-radius: 0.208em;
      padding: 20px;
      border-top: 0;
    }
  }
}

.h5p-metadata-additional-information {
  width: 100%;
  margin-top: 1em;

  .content.h5peditor-single {
    min-height: 2em;
    border: 1px solid #d0d0d1;
    border-top: none;
    background: #fff;
  }

  .title {
    font-weight: 400;
    background: #F6F6F6;
    color: #323232;
    border: solid 1px #ced6e3;
    border-radius: 0.208em;
  }
  .title:focus {
    border-color: rgb(77, 144, 254);
  }
}
