// General editor
$black-color: #454347;
$white-color: #fff;

$font-color: $black-color;

$font-family: 'Open Sans', sans-serif;

$i: 'H5P';

$font-size-large: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;

$min-padding: 10px;
$padding: 20px;

// Form
$form-background-color: #fbfbfb;
$form-border-color: #d0d0d1;
$form-content-background-color: $white-color;

$form-input-color: $white-color;
$form-input-placeholder-color: #858585;
$form-input-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);

$form-item-background-color: #ececed;
$form-item-background-highlight-color: #f3f3f3;

$form-content-background-color: $white-color;

$form-item-very-important-color: #2579C6;
$form-item-very-important-highlight-color: #3B87CC;
$form-item-very-important-border-color: #2074B0;

$form-item-important-color: #868587;
$form-item-important-highlight-color: #929193;
$form-item-important-border-color: #7d7b7e;

$form-item-height-large: 50px;
$form-item-height-normal: 40px;
$form-item-height-small: 30px;
