// General editor
$black: #454347;
$white: #FFFFFF;

$text-color: $black;

$font-family: 'Open Sans', sans-serif;

$i: 'H5P';

$font-size-large: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;

$min-padding: 10px;
$padding: 20px;

// Form
$form-background: #FBFBFB;
$form-border-color: #D0D0D1;
$form-content-background: $white;

$form-input-color: $white;
$form-input-placeholder-color: #858585;
$form-input-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);

$form-item-background: #ECECED;
$form-item-background-highlight: #F3F3F3;
$form-item-background-hover: #DAD9DA;
$form-item-background-hover-highlight: #DEDDDE;

$form-item-very-important-background: #2579C6;
$form-item-very-important-background-highlight: #3B87CC;
$form-item-very-important-border-color: #2074B0;
$form-item-very-important-background-hover: #195286;
$form-item-very-important-background-hover-highlight: #306492;

$form-item-important-background: #868587;
$form-item-important-background-highlight: #929193;
$form-item-important-border-color: #7D7B7E;
$form-item-important-background-hover: #585659;
$form-item-important-background-hover-highlight: #69676A;

$form-item-height-large: 50px;
$form-item-height-normal: 40px;
$form-item-height-small: 30px;
