@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/opacity";

.h5peditor {
  font-size: 16px;
  @include transition(all 0.2s ease-in);
  
  .field {
    margin: 16px 0;
    padding: 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;  
    }
  }
  .errors p {
    margin: 0 0 4px 0;
    color: #f00;
  }
  label {
    display: block;
    font-weight: bold; 
    font-size: 14px;
    overflow: hidden;
    .label {
      display: block;  
    }
  }
  textarea {
    resize: vertical;
  }
  textarea, input[type="text"], .ckeditor {
    width: 90%;
    padding: 4px 8px;
    font-size: 16px;
    border: 1px solid #a0a0a0;
    background: #f9f9f9;
    outline: none;
    min-height: 20px;
    @include border-radius(8px);
  }
  select {
    padding: 2px;
  }
  a:focus {
    outline: none;
    @include box-shadow(0 0 8px 2px #7fb8ff);
  }
  textarea:focus, input[type="text"]:focus {
    outline: none;
    background: #fff;
    border-color: #53a0ff;
    @include box-shadow(0 0 8px 0 #7fb8ff);
  }
  iframe {
    width: 100%;
    height: 0;
    border: 0;
    overflow: hidden;
  }
  .h5p-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
    .h5p-li {
      padding: 0 8px;
      margin: 8px 0;
      list-style: none;
      background: #d5e9ff;
      overflow: hidden;
      @include border-radius(8px);
      
      & > .content {
        margin: 0 24px;
      }
      & > .remove, & > .order {
        cursor: pointer;
        width: 14px;
        height: 14px;
        margin: 8px 0 0;
        float: right;
        background: inline-image("remove.png") no-repeat;
        border: 1px solid #fff;
        @include opacity(0.8);
          
        &:hover {
          opacity: 1;  
        }
        &:focus {
          @include box-shadow(0 0 8px 2px #cb3535);
        }
      }
      & > .order {
        float: left;  
        background: inline-image("order.png") no-repeat;
        
        &:focus {
          @include box-shadow(0 0 8px 2px #7ca8de);
        }
      }
      &:hover {
        background: #c0deff;
      }
    }
  }
  .content > .field {
    margin: 8px 0;
  }
  .group {
    margin: 16px 0;
    border: 1px solid #676767;
    background: #d5e9ff;
      
    @include border-radius(8px);
    @include box-shadow(0 0 4px #a7a7a7);
    
    & > .title {
      padding: 4px 8px;
      overflow: hidden;
        
      &:first-letter {
        text-transform: uppercase;
      }
      .expand {
        cursor: pointer;
        float: left;
        width: 13px;
        height: 13px;
        margin: 3px 0 0;
        background: inline-image("expand.png") no-repeat;
        opacity: 0.8;
        @include transition(all 0.2s ease-in);
          
        &:hover {
          opacity: 1;  
        }
      }
      .text {
        overflow: hidden;
        padding: 0 8px;
      }
    }
    & > .content {
      display: none;
    }
    .h5p-li {
      background: #ebfffa;
      &:hover {
        background: #ccfff2;
      }
      .group {
        background: #ebfffa;
        .h5p-li {
          background: #feedff;
          &:hover {
            background: #fbd1ff;
          }
          .group {
            background: #feedff;
          }
        }
        .group {
          background: #feedff;
        }
      }
    }
    .group {
      background: #ebfffa;
    }
  }
  .expanded {
    & > .title {
      border-bottom: 1px solid #676767;
      
      .expand {
        background-image: inline-image("collapse.png");
      }
    }
    & > .content {
      padding: 4px 8px;
      display: block;
    }
  }
  input[type="button"] {
    width: auto;
    margin: 0;
    padding: 4px 8px;
  }
  .dimensions input, .coordinates input, .number input {
    width: 75px;  
  }
  .number input[type="range"] {
    width: 300px;
    float: left;
    margin: 7px 8px 0 0;
  }
  .file {
    position: relative;
    
    .thumbnail {
      display: inline-block;
      margin: 10px;
      @include box-shadow(0 0 16px 0 #666666);
      border: 1px solid #fff;
      cursor: pointer;
      
      &:focus {
        @include box-shadow(0 0 16px 2px #7fb8ff);
      }
    }
    .add {
      display: block;
      cursor: pointer;
      width: 44px;
      height: 44px;
      background: inline-image("add.png");  
    }
    .remove {
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 10px;
      left: 10px;
      cursor: pointer;
      border: 1px solid #fff;
      background: inline-image("remove.png");  
      
      &:focus {
        @include box-shadow(0 0 8px 2px #cb3535);
      }
    }
    img {
      vertical-align: bottom;  
    }
  }
  .video .file, .audio .file {
    overflow: hidden;
    .thumbnail, .add {
      float: left;
    }
    .add {
      margin-top: 8px;  
    }
    .thumbnail {
      overflow: hidden;
      position: relative;
      cursor: auto;  
    }
    .remove {
      top: -1px;
      left: -1px;
    }
    .type {
      padding: 16px 8px 4px;
      background: #000;
      color: #fff;
      font-size: 10px;
    }
    .h5peditor-uploading {
      float: left;
    }
  }
  .libwrap {
    margin-top: 16px;  
  }
  input[type="checkbox"] {
    margin: 4px 4px 4px 0;
    vertical-align: bottom;
  }
  .common {
    margin-top: 16px;  
    background: #fae5ff;
    padding: 8px;
    @include border-radius(8px);
  }
  .moving {
    position: absolute;
    z-index: 1;
    @include opacity(0.8);
    -webkit-transform: translateZ(0);
  }
  .h5p-description {
    font-size: 10px;
    color: #555555;
  }
  
  .h5peditor-uploading {
    background: inline-image("uploading.gif") no-repeat 10px 7px;
    padding-top: 40px;
    font-size: 14px;
  }
}

.h5peditor-form {
  position: relative;
  margin: 8px 0;
  background: #e5f1ff;
  padding: 8px;
  @include border-radius(8px);
}

#h5peditor-uploader {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1px;
  border: 0;
}